@page "/"
@page "/authors"
@inherits AuthorsBase 


<div class="col-12">
    <h3><b>Enter Author Information</b></h3>
    <hr>

   <ServerValidations IsVisible="IsVisible" IsSavedSuccessfully="IsSavedSuccessfully">
        Author: @RecordName
   </ServerValidations>

     <EditForm Model="@Author" OnValidSubmit="@SaveAuthorAsync">
         @* <DataAnnotationsValidator/> *@
         <ValidationSummary/>
        <div class="col-12 row">
            <label for="firstName" class="col-2 font-weight-bold">First Name</label>
            <input @ref="firstNameRef" id="firstName" @bind="Author.FirstName" placeholder="First Name" class="form-control col-3" />
            <ValidationMessage For="@(() => Author.FirstName)"/>
        </div>

        <div class="col-12 row">
            <label for="lastName" class="col-2 font-weight-bold">Last Name</label>
            <InputText id="lastName" @bind-Value="Author.LastName" placeholder="Laste Name" class="form-control col-3" />
            <ValidationMessage For="@(() => Author.LastName)"/>
        </div>

        <div class="col-12 row">
            <label for="city" class="col-2 font-weight-bold">City</label>
            @* <InputText id="city" @bind-Value="Author.City" placeholder="City" class="form-control col-3" />
            <ValidationMessage For="@(() => Author.City)"/> *@
           <InputSelect @bind-Value="Author.City" class="form-control col-3">
                @if (@Cities != null)
                {
                    <option value="">select city..</option>
                    @foreach (var city in Cities)
                    {
                        <option value="@city">@city</option>
                    }
                }
           </InputSelect>
        </div>

        <div class="col-12 row">
            <label for="emailAddress" class="col-2 font-weight-bold">Email Address</label>
            <InputText id="emailAddress" @bind-Value="Author.EmailAddress" placeholder="Email Address" class="form-control col-3" />
            <ValidationMessage For="@(() => Author.EmailAddress)"/>
        </div>

        <div class="col-12 row">
            <label for="salary" class="col-2 font-weight-bold">Salary</label>
            <InputNumber id="salary" @bind-Value="Author.Salary" placeholder="Salary" class="form-control col-3" />
            <ValidationMessage For="@(() => Author.Salary)"/>
        </div>
        <br>
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save">
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear">
        </div>
     </EditForm> 
</div>

<br>

<div class="col-10">
   <table class="table">
       <thead>
           <tr>
               <th>AuthorId</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>City</th>
               <th>Email Address</th>
               <th>Salary</th>
           </tr>
       </thead>
       <tbody>
        @foreach (var author in Authors)
        {
            <tr>
                <td><NavLink href=@string.Format("/authors/authordetails/{0}", @author.Id)>@author.Id</NavLink></td>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>@author.City</td>
                <td>@author.EmailAddress</td>
                <td>@author.Salary</td>
            </tr>
        }
       </tbody>
   </table>
    
</div>
<hr>
<div class="col-12 row">@AuthorService.GetCreationDate()</div>
<div class="col-12 row">@AuthorService.GetVersion()</div>


