@page "/publishers"
@inherits PublishersBase 

<div class="col-12">
    <h3><b>Enter Publisher Information</b></h3>
    <hr>

    <ServerValidations IsVisible="IsVisible" Result="Result">
        Publisher: @RecordName
    </ServerValidations>

     <EditForm Model="@Publisher" OnValidSubmit="@SavePublisherAsync">
         @* <DataAnnotationsValidator/> *@
         <ValidationSummary/>
        <div class="col-12 row">
            <label for="name" class="col-2 font-weight-bold">Name</label>
            <input @ref="publisherNameRef" id="name" @bind="Publisher.PublisherName" placeholder="Name" class="form-control col-3" />
            <ValidationMessage For="@(() => Publisher.PublisherName)"/>
        </div>
        <div class="col-12 row">
            <label for="city" class="col-2 font-weight-bold">City</label>
            <SelectCity OnChangeEvent="OnSelectCityChange"></SelectCity>
        </div>
        <br>
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save">
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear">
        </div>
     </EditForm> 
</div>
<br>
<div class="col-10">
    @if(Publishers != null && Publishers.Count > 0) {
        <MatTable Items="@Publishers" Striped="true" AllowSelection="true" RowClass="tester" class="mat-elevation-z5">
            <MatTableHeader>
                <th>PublisherId</th>
                <th>Name</th>
                <th>City</th>
                <th></th>
            </MatTableHeader>
            <MatTableRow >
                <td>@context.PubId</td>
                <td>@context.PublisherName</td>
                <td>@context.City</td>
            <td>
                    <a @onclick="(() => DeletePublisher(context.PubId))" style="text-underline-position:below;cursor:pointer;color:blue;font-weight: bold;">Delete</a>  |
                    <a @onclick="(() => EditPublisher(context))" style="text-underline-position:below;cursor:pointer;color:blue;font-weight: bold;">Edit</a> 
                </td>
            </MatTableRow>
        </MatTable>
    } 
    else
    {
        <NoResultMessage></NoResultMessage>
    }
</div>


